creditcard2/target/classes/creditcard2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="getCarddetailsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getCard" doc:name="HTTP"/>
        <set-variable variableName="cardnum" value="#[message.inboundProperties.'http.query.params'.creditcardnumber]" doc:name="Variable"/>
        <mulerequester:request resource="file://src/main/resources/details.json" doc:name="Mule Requester"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="6553a26c-fdfe-4a55-958c-843a15b92490">
            <dw:input-payload doc:sample="sample_data\json.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	data: payload map (payload,indexOfPayload)->{
		card__holder_name:payload.Name-on-Card,
		card_number: payload.Card-Number,
		Expiry_Date: payload.Expiry-Date,
        Service_Provider: payload.Service-Provider,
        Account_Number: payload.Account-Number
	} filter $.Card-Number == flowVars.cardnum
	
	}]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[json:/data[0] != null] ">
                <set-payload value="#[payload]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;message&quot;:&quot;Bad Request&quot;}" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getAccountCardFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getAccount" doc:name="HTTP"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-variable variableName="AccountNumber" value="#[message.inboundProperties.'http.uri.params'.AccountNumber]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="931d337e-1bc4-4954-a387-7213ef13e937">
            <dw:input-payload doc:sample="details.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
card: payload map (payload,indexOfPayload)->
{
 cardNumber: payload.Card-Number,
 ExpiryDate: payload.Expiry-Date,
 CardHolderName: payload.Name-on-Card,
 ServiceProvider: payload.Service-Provider,
 AccountNumber: payload.Account-Number
} filter $.Account-Number == flowvars.AccountNumber

}]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
