creditcardapi/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="getDetailsbyCreditCard">
        <http:request config-ref="HttpRequestConfigDomain" path="/getCard" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="creditcardnumber" value="#[message.inboundProperties.'http.query.params'.creditcardnumber]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getDetailsByAccountNumber">
        <http:request config-ref="HttpRequestConfigDomain" path="/getAccount" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-params expression="AccountNumber"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
